<?xml version="1.0" encoding="UTF-8" ?>
<routes>
	<route url="/" module="Posts" action="index" home="1" />
	<route url="/([a-z0-9-]+)/" module="Posts" action="index" vars="category" />
	<route url="/([a-z0-9-]+)/([0-9]+)" module="Posts" action="index" vars="category,page" />
	<route url="/([0-9]+)/(.*)" module="Posts" action="single" vars="id,slug" />
	<route url="/([a-z0-9-]+)/([0-9]+)/(.*)" module="Posts" action="single" vars="name,id,slug" />
</routes>